.modal-wrapper {
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;

  &[data-active="false"] {
    pointer-events: none;
  }
}

@keyframes modalAppearing {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
